.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #007aff;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  background-color: #202020;
  padding: 10px;
}
