.footer {
  background-color: #202020;
  color: #fff;
  padding: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
    
  .links {
    color: darkgray;
    display: flex;
    justify-content: center;
    gap: 10px;
    
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
      
  }
  
  .social-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
.non-sticky-footer {
    position: relative;
    bottom: auto;
    width: 100%;
    margin-top: 50px; /* Ajusta el margen superior según tus necesidades */
  }
  